importClassesFrom(Biobase, eSet, NChannelSet, VersionedBiobase, Versioned)
importClassesFrom(oligoClasses, TilingFeatureSet)

#import(oligo)

importMethodsFrom(oligo, pm, "pm<-", bg, "bg<-", pmindex, 
	pmSequence, bgSequence, getX, getY, 
	pmChr, pmPosition, probeNames, getContainer)
importMethodsFrom(BSgenome, providerVersion)
importMethodsFrom(Biobase, annotation, pData, rowMedians,
	sampleNames, "sampleNames<-")
importMethodsFrom(Biostrings, unmasked, vcountPattern,
 	alphabetFrequency)
importMethodsFrom(IRanges, Views, mad, median,
	na.exclude, quantile, sd)

importFrom(oligo, read.xysfiles2)
importFrom("oligoClasses", "db", "ocSamples", "ocProbesets", "ocLapply",
	"splitIndicesByLength", "splitIndicesByNode", "ldStatus", "ldPath")
importFrom(preprocessCore, normalize.quantiles, 
	normalize.quantiles.use.target)
importFrom(ff, ff, ffrowapply, ffcolapply, clone, clone.ff)	
importFrom(Biostrings, DNAString, DNAStringSet)
importFrom(IRanges, narrow, width)
importFrom(siggenes, pi0.est, qvalue.cal)
importFrom(gtools, combinations)
importFrom(grDevices, dev.off, pdf)
importFrom(graphics, abline, layout, legend, lines, par, plot.new,
	plot.window, text)
importFrom(methods, new)
importFrom(stats, density, dnorm, ecdf, lm, loess, loess.control,
	optimize, pnorm, predict, qt, reshape)
importFrom(utils, packageDescription, setTxtProgressBar,
	txtProgressBar)


export(bgAdjust, countGC, cpgdensity, dmrFdr, dmrFinder, getControlIndex,
	methPercent, methp, normalizeBetweenSamples, normalizeWithinSamples,
	plotDensity, qcReport, readCharm, spatialAdjust, validatePd)

# oligo exports (should we import oligo instead?)	 
export(pmindex, bgindex)
